/* @import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");

* {
  box-sizing: border-box;
  /* font-family: "Black Han Sans", sans-serif; */
  font-family: "Stylish", sans-serif;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(31, 31, 31);
}

/* 메인 */
.MainPage {
  width: 100%;
}

.MainImg {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mainImgCarousel {
  width: 100%;
  line-height: 160px;
  position: relative;
  /* top: -00px; */
  z-index: 1;
}

.mainImgCarousel img {
  width: 100%;
  z-index: -1;
}

.movieCard {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 20%);
  margin-left: 5%;
  margin-right: 5%;
}

.movieCard div {
  text-align: center;
  margin-bottom: 10px;
}

.movieCard img {
  width: 90%;
  height: 90%;
  border-radius: 3px;
}

.movieCard img:hover {
  cursor: pointer;
  position: relative;
}

.CarouselMap {
  display: flex !important;
  justify-content: space-evenly;
  background: linear-gradient(
      to bottom,
      rgba(31, 31, 31, 0) 5%,
      rgba(31, 31, 31, 0.1) 50%,
      rgba(31, 31, 31, 1) 100%
    ),
    linear-gradient(
      to top,
      rgba(31, 31, 31, 0) 0%,
      rgba(31, 31, 31, 0.1) 80%,
      rgba(31, 31, 31, 1) 100%
    );
}

.titleName {
  position: absolute;
  font-size: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
  z-index: 1;
  bottom: 50px;
}

@media (min-width: 1500px) {
  .mainImgCarousel img {
    width: 60%;
  }
}

@media (max-width: 1045px) {
  .movieCard {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 860px) {
  .movieCard {
    grid-template-columns: repeat(3, 33%);
  }
}

@media (max-width: 412px) {
  .mainImgCarousel img {
    width: 100%;
  }

  .movieCard {
    grid-template-columns: repeat(2, 50%);
  }

  .titleName {
    font-size: 16px;
  }
}

/* 로그인 */
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}

.loginBox {
  display: flex;
  flex-direction: column;
}

/*회원가입*/
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh;
}

.registerBox {
  display: flex;
  flex-direction: column;
}

/* 로딩이미지 */
.loadingImg {
  width: 100%;
  min-height: 90vh;
  justify-content: center;
}

.loadingImg svg {
  width: 50px;
  height: 50px;
}

.test {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}
