.AdvancedSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AdvancedSearch-option {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  top: 47px;
  width: 200px;
  height: 90vh;
  border-radius: 5px;
  padding: 10px;
  overflow: overlay;
  font-size: 14px;
}

.AdvancedSearch-option h3 {
  color: white;
}

.AdvancedSearch-option button {
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  margin: 3px;
  color: black;
}

.AdvancedSearch-option button:hover {
  cursor: pointer;
  border: 2px solid red;
}

.AdvancedSearch-click {
  background-color: rgb(255, 102, 102) !important;
}

.AdvancedSearch-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.AdvancedSearch-year button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdvancedSearch-year {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.AdvancedSearch-option:hover::-webkit-scrollbar {
  width: 5px;
}

.AdvancedSearch-option::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera*/
}

.loading-search {
  display: flex;
  width: 900px;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.loading-search svg {
  width: 50px;
  height: 50px;
}

.AdvancedSearch-header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  margin-top: 20px;
  align-items: center;
}

.AdvancedSearch-movicCard {
  width: 900px;
}

@media (max-width: 800px) {
  .AdvancedSearch-option {
    display: none;
  }
}

@media (max-width: 900px) {
  .test {
    width: 100%;
  }
  .loading-search {
    width: 100%;
  }
}
