.AdvancedSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.AdvancedSearch-option-box {
  position: sticky;
  top: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 90vh;
  border-radius: 5px;
  background-color: rgba(117, 117, 117, 0.438);
  font-size: 16px;
}

.AdvancedSearch-option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  height: 95%;
  overflow: overlay;
}

.AdvancedSearch-option h3 {
  color: white;
}

.AdvancedSearch-option button {
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgb(247, 247, 247);
  margin: 3px;
  color: black;
}

.AdvancedSearch-option button:hover {
  cursor: pointer;
  border: 2px solid red;
}

.AdvancedSearch-click {
  background-color: rgb(255, 102, 102) !important;
}

.AdvancedSearch-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.AdvancedSearch-year button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdvancedSearch-year {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.AdvancedSearch-option:hover::-webkit-scrollbar {
  width: 5px;
}

.AdvancedSearch-option::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera*/
}

.loading-search {
  display: flex;
  width: 900px;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.loading-search svg {
  width: 50px;
  height: 50px;
}

.AdvancedSearch-header {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  margin-top: 20px;
  align-items: center;
}

.AdvancedSearch-movicCard {
  width: 900px;
}

.AdvancedSearch-score {
  display: flex;
}

.AdvancedSearch-score input {
  color: black;
  background-color: rgb(247, 247, 247);
  border: 2px solid transparent;
  border-radius: 5px;
  width: 68px;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.AdvancedSearch-score input:focus {
  border: 2px solid red;
  outline: none;
}
.AdvancedSearch-option-btn {
  display: none;
  cursor: pointer;
  margin-top: 30px;
  font-size: 40px;
  background-color: transparent;
  border: none;
}

@media (max-width: 900px) {
  .loading-search {
    width: 100%;
  }

  .AdvancedSearch-movicCard {
    width: 100%;
  }

  .AdvancedSearch {
    flex-direction: column;
  }

  .AdvancedSearch-option-box {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 0px;
    top: 47px;
    z-index: 2;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: all ease 0.5s;
  }

  .AdvancedSearch-option-box-open {
    height: 500px;
    transition: all ease 0.5s;
  }

  .AdvancedSearch-year {
    display: grid;
    grid-template-columns: repeat(7, 14%);
  }

  .AdvancedSearch-option-btn {
    display: block;
  }
}
