.AdvancedSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .AdvancedSearch-left {
  display: block;
  width: 400px;
  background-color: rebeccapurple;
} */

.AdvancedSearch-option {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(117, 117, 117, 0.438);
  top: 47px;
  width: 200px;
  height: 800px;
  border-radius: 5px;
  padding: 10px;
  overflow: overlay;
}

.AdvancedSearch-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.year-click {
  background-color: rgb(0, 0, 0);
}

.AdvancedSearch-option:hover::-webkit-scrollbar {
  width: 5px;
}

.AdvancedSearch-option::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera*/
}

.loading-search {
  display: flex;
  width: 900px;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.loading-search svg {
  width: 50px;
  height: 50px;
}
.test {
  width: 100%;
}

@media (max-width: 800px) {
  .AdvancedSearch-option {
    display: none;
  }
}

.test {
  width: 900px;
}

@media (max-width: 1100px) {
  .test {
    width: 100%;
  }
}
