@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.detailPage {
  width: 100%;
}

/* detail 페이지 내부 항목을 모두 감싸는 틀 */
.movieDetail {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
}

/* 줄거리 */
.movieStory {
  width: 100%;
}

.notInfo {
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(139, 139, 139);
}

.tagline {
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(255, 47, 47);
}

.overview {
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* 소제목 */
.section {
  font-size: 30px;
  margin-bottom: 20px;
}

.sectionBtn {
  font-size: 30px;
  background-color: transparent;
  border: 2px solid transparent;
  margin-bottom: 20px;
  margin-right: 10px;
}

.close {
  color: rgb(139, 139, 139);
}

.sectionBtn:hover {
  cursor: pointer;
  border-bottom: 2px solid red;
  transition: all ease 1s;
}

/* 예고편 */
.trailer {
  width: 100%;
}

/* 출연 */
.actorBox {
  width: 100%;
}

.reviwe {
  width: 100%;
}
/* 제작사 로고 */
.productionLogo {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.3);
}

.productionLogo img {
  height: 65%;
}

@media (max-width: 800px) {
  .productionLogo img {
    height: 50%;
  }

  .movieDetail {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 300px;
  }

  .MovieInfo {
    flex-direction: column;
    align-items: center;
  }

  .MovieInfo img {
    margin-right: 0px;
  }

  .dataAndTime {
    display: flex;
    justify-content: center;
    font-size: 16px;
  }

  .actor {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .detailInfo {
    align-items: center;
    margin-left: 0px;
    margin-top: 30px;
  }
  .logo2 {
    width: 300px;
  }

  .mainPoster {
    width: 300px;
  }
}
