.moreBtn {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}

.moreBtn button {
  background-color: transparent;
  border: none;
  height: 24px;
}

.moreBtn button:hover {
  cursor: pointer;
  border-bottom: 2px solid red;
}

.test2 {
  display: none;
}
