/*movieCard*/
.movieCard {
  /* display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-content: center;
  justify-items: center;
  width: 90%;
  /* height: 100%; */
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 900px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* 포스터랑 제목 묶음 */
.movieCardItem {
  width: 30%;
  margin: 5px;
}

.movieCarePoster {
  width: 100%;
  height: 100%;
  position: relative;
}

/* 포스터 호버시 나타남 */
.hoverPoster {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 16px;
}

.hoverPoster div {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posterImg {
  background-position: center;
  border-radius: 5px;
  background-color: rgb(99, 99, 99);
  background-size: 106%;
  width: 100%;
  padding-top: 150%;
  transition: all ease 0.5s;
}

.movieCardItem:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  transform: scale(1);
}

.movieCardItem:hover .hoverPoster {
  transition: all 0.5s ease;
  z-index: 1;
  opacity: 1;
}
.movieCardItem:hover .movieCardScore {
  filter: brightness(50%);
}

.movieCardItem:hover .posterImg {
  transition: all ease 0.5s;
  filter: brightness(50%);
  background-size: 120%;
}

.movieCardScore {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: -5px;
}

@media (max-width: 900px) {
  .movieCard {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .movieCardItem {
    width: 20%;
  }
}

/*
@media (max-width: 1000px) {
  .movieCard {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 500px) {
  .movieCard {
    grid-template-columns: repeat(3, 33%);
  }
}

@media (max-width: 350px) {
  .movieCard {
    grid-template-columns: repeat(2, 25%);
  }
} */
