/* 포스터랑 제목 묶음 */
.movieCardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.842);
  border-radius: 5px;
  border: none;
  width: 90%;
  height: 90%;
}

.movieCarePoster {
  width: 100%;
  height: 100%;
  position: relative;
}

.movieCarePoster img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

/* 포스터 호버시 나타남 */
.hoverPoster {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 50px;
}

.movieCardItem:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  transform: scale(1.1);
}

.movieCardItem:hover img {
  filter: brightness(50%);
}

.movieCardItem:hover .hoverPoster {
  transition: all 0.5s ease;
  z-index: 1;
  opacity: 1;
}

.movieCardTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: black;
  height: 40px;

  width: 100%;
}

.movieCardScore {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: -5px;
}

.movieCardItem:hover .movieCardScore {
  filter: brightness(50%);
}

/*movieCard*/
.movieCard {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

@media (max-width: 1045px) {
  .movieCard {
    grid-template-columns: repeat(4, 25%);
  }
}

@media (max-width: 860px) {
  .movieCard {
    grid-template-columns: repeat(3, 33%);
  }

  .movieCard {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 412px) {
  .movieCard {
    grid-template-columns: repeat(2, 50%);
  }
}
