.searchInputBox {
  position: relative;
}

.searchInput {
  background-color: transparent;
  width: 35px;
  border: none;
  margin-left: 5px;
  transition: all 0.5s;
}

.valueIn {
  width: 100px;
}

.removeValue {
  position: absolute;
  right: 5px;
  top: 5px;
}

.searchInput:focus {
  width: 100px;
  transition: all ease 0.5s;
  border-bottom: 1px solid red;
  outline: none;
}

.searchFail {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  backdrop-filter: blur(50px);
}

.search {
  position: absolute;
  flex-direction: column;
  backdrop-filter: blur(50px);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  right: 50px;
}

.searchInfo {
  display: flex;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.searchInfo:hover {
  cursor: pointer;
  transition: all ease 0.5s;
  background-color: rgba(240, 248, 255, 0.212);
}

.searchHistory {
  justify-content: space-between;
}

.searchHistoryRight {
  display: flex;
  width: 100%;
}

.searchHistoryRight div {
  margin-right: 10px;
}

.searchTitle {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  justify-content: center;
  align-items: flex-start;
}

.searchTitle :nth-child(2) {
  color: rgb(139, 139, 139);
}

.searchImg {
  width: 40px;
  border-radius: 5px;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .search {
    width: 100%;
    right: 0px;
  }
}
