.selectSeason {
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 2px solid transparent;
}

.selectSeason:hover {
  cursor: pointer;
  border: 2px solid red;
  transition: all ease 0.5s;
}

/* select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
} */

.selectSeasonOp {
  background-color: rgb(31, 31, 31);
  transition: all ease 1s;
  height: 3000px;
}

.seasonBox {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.seasonInfo {
  width: 100%;
}

.seasonImg {
  width: 200px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
}

.not-seasonImg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 130px;
  height: 200px;
  background-color: rgb(99, 99, 99);
  border-radius: 5px;
}

.seasonImg img {
  height: 200px;
  border-radius: 5px;
}

.seasonName {
  font-size: 20px;
}

.seasonDate {
  color: rgb(139, 139, 139);
  font-size: 16px;
}

.seasonOverview {
  line-height: 30px;
  height: 150px;
  font-size: 16px;
  margin-bottom: 20px;
  overflow: auto;
}

.test {
  width: 100px;
  height: 0px;
  background-color: red;
  transition: all ease 1s;
}

.test2 {
  height: 200px;
  background-color: blue;
}
