.seasonBox {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.seasonInfo {
  width: 100%;
}

.seasonImg {
  width: 140px;
  height: 200px;
  display: flex;
  align-items: flex-start;
  margin-right: 10px;
}

.not-seasonImg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 130px;
  height: 200px;
  background-color: rgb(99, 99, 99);
  border-radius: 5px;
}

.seasonImg img {
  height: 200px;
  border-radius: 5px;
}

.seasonName {
  cursor: pointer;
  font-size: 20px;
}

.seasonDate {
  color: rgb(139, 139, 139);
  font-size: 16px;
}

.seasonOverview {
  line-height: 30px;
  height: 150px;
  font-size: 16px;
  margin-bottom: 20px;
  overflow: auto;
}

.seasonSelectBox {
  font-size: 16px;
  width: 200px;
  height: 35px;
  margin-bottom: 20px;
  position: relative;
  backdrop-filter: blur(20px);
  /* background-color: rgba(0, 0, 0, 0.315); */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 5px;
}

.seasonSelectBox:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 0, 0, 0.507);
  transition: all ease 0.3s;
}

.seasonSelect {
  top: 40px;
  width: 200px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 1000;
  backdrop-filter: blur(20px);
  overflow: auto;
  transition: all ease 0.3s;
  overflow-y: scroll;
}

.seasonSelectClose {
  max-height: 0px;
}

.seasonSelectOpen {
  max-height: 500px;
  border-radius: 5px;
}

.seasonSelectValue {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.seasonSelectValue:hover {
  cursor: pointer;
  transition: all ease 0.5s;
  background-color: rgba(240, 248, 255, 0.212);
}
