.titleLargeImg {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: -10;
}

/* detail 페이지 설정 */
.fromDetail {
  position: absolute;
  height: 100%;
}

@media (max-width: 800px) {
  .fromDetail {
    height: 500px;
  }
}

/* main 페이지 설정 */
.fromMain {
  height: 100%;
  align-items: flex-end;
}

.titleName {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 30px;
}

.goDetailBtn {
  cursor: pointer;
  width: 150px;
  background-color: rgb(31, 31, 31);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid black;
  margin-top: 20px;
}

.goDetailBtn:hover {
  border: 2px solid red;
  transition: all ease 1s;
  background-color: rgb(71, 71, 71);
}

@media (max-width: 500px) {
  .fromMain {
    justify-content: center;
  }
  .titleName {
    margin-left: 0px;
  }
}